<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title> node titre </title>
</head>
    <body>
        <h1> Welcome {{ name }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad earum est mollitia nobis odit quisquam quos, repudiandae totam vel voluptates.
            Assumenda et harum impedit ipsam ipsum non perferendis quas voluptate!
        </p>
    </body>

</html>
