<%- include('../pages/header'); %>

<div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
        <div class="comment">

            <a class="avatar" href="/message/ <%= message.id %>">
                <img src="https://randomuser.me/api/portraits/lego/6.jpg">
            </a>

            <div class="content">
                <div class="metadata">
                    <div class="date">
                        <%= message.created_at.fromNow() %>
                    </div>
                </div>
            </div>

            <div class="content">
                <%= message.content %>
            </div>
        </div>
</div>

<%- include('../pages/footer'); %>
