<%- include('header'); %>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message"> Message </label>
        <textarea name="message" id="message"></textarea>
        <button type="submit" class="ui blue labeled icon button submit">
            <i class="icon edit"></i>Envoyer
        </button>
    </div>
</form>

<div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <% for (message of messages) { %>
        <div class="comment">

            <a class="avatar" href="/message/ <%= message.id %>">
                <img src="https://randomuser.me/api/portraits/lego/6.jpg">
            </a>

            <div class="content">
                <div class="metadata">
                    <div class="date">
                        <%= message.created_at.fromNow() %>
                    </div>
                </div>
            </div>

            <div class="content">
                <%= message.content %>
            </div>
        </div>
    <% }%>

</div>



<%- include('footer'); %>

